.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.firstPage{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.date{
    position: absolute;
    margin-top: 108px;
    margin-left: -52px;
    background-color: rgb(255, 255, 255);
    height: 20px;
    width: 120px;
    font-family: TertiaryFont, sans-serif;
    text-align: center;
    font-size: 20px;
}
.centralDiv{
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.firstname{
    position: relative;
    margin-top: 30px;
    font-family: SecondaryFont, sans-serif;
    font-size: 70px;
}
.quotationMark{
    font-family: TertiaryFont, sans-serif;
    font-size: 50px;
    text-align: center;
}
.caption{
    position: absolute;
    font-family: TertiaryFont, sans-serif;
    font-size: 32px;
    margin-top: 130px;
    margin-left: 60px;
}
.sentence{
    font-family: PrimaryFont, sans-serif;
    text-align: center;
    font-size: 18px;
}
.counter{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 600px;
}
.dressCode{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    background-color: var(--primary-color);
}
.where{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 0;
    padding-bottom: 10px;
    align-items: center;
    width: 100%;
    height: 700px;
}
.sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    gap: 12px;
}
.title{
    font-family: SecondaryFont;
    font-size: 50px;
    color: var(--tertiary-color);
}
.subtitle{
    font-size: TertiaryFont;
    font-size: 40px;
    color: var(--primary-color);
}
.text{
    font-size: PrimaryFont;
    font-size: 20px;
    color: var(--tertiary-color);
}
.confirm{
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 500px;
}
.guestTitle{
    font-family: SecondaryFont;
    font-size: 35px;
    color: var(--tertiary-color);
}
.guest{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.guestName{
    text-align: center;
    font-size: TertiaryFont;
    font-size: 32px;
    color: var(--primary-color);
}
.guestAmount{
    text-align: center;
    font-size: PrimaryFont;
    font-size: 20x;
    color: var(--tertiary-color);
}