/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/countDown/countDown.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.countDown_container__VIMl9{
    background-color:var(--primary-color);
    border-radius: 50%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:300px;
    height: 300px;
    padding:35px;
}

.countDown_num__DjN3B{
    font-size: 50px;
    font-family: SecondaryFont;
}
.countDown_word__gLlF5{
    font-size: 20px;
    font-family: SecondaryFont;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/musicButton/musicButton.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.musicButton_buttonOff__8T514{

    position: fixed;
    bottom: 550px;
    right: 0;
    background-color: var(--primary-color);
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.musicButton_buttonOn__GfOYm{
    background-image: url();
    position: fixed;
    bottom: 550px;
    right: 0;
    background-color: var(--primary-color);
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/navBar/navBar.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.navBar_navbar___kSTs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    color: var(--font-primary-color);
    height: 60px;
    padding: 0 20px;
    width: 100%;
  }
  
  .navBar_menuButton__Hialm {
    display: none;
  }
  
  .navBar_menuIcon___uNML {
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  
  .navBar_menu__XrB0s {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navBar_menu__XrB0s li {
    margin-left: 20px;
    font-size: 15px;
  }
  
  .navBar_menu__XrB0s a {
    text-decoration: none;
    color: #000;
  }
  
  .navBar_menu__XrB0s a:hover {
    text-decoration: none;
    color: var(--primary-color);
    cursor: pointer;
  }
  
  @media (max-width: 600px) {
    .navBar_navbar___kSTs {
      position: relative;
    }
  
    .navBar_menu__XrB0s {
      display: none;
      opacity: 0;
      position: absolute;
      top: 35px;
      left: 0;
      right: 20;
      background-color: #fff;
      color: #000;
      padding: 10px;
      transition: opacity 0.3s ease-in-out;
      
    }
  
    .navBar_menu__XrB0s.navBar_open__Y0ERN {
      display: flex;
      flex-direction: column;
      justify-content: left;
      text-align: left;
      opacity: 1;
      
    }
  
    .navBar_menu__XrB0s li {
      margin: 5px 0;
      justify-content: center;
      text-align: left ;
    }
  
    .navBar_menuButton__Hialm {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 20px;
      cursor: pointer;
      border: none;
      background-color: transparent;
      padding: 0;
      position: absolute;
      top: 10px;
      left: 10px;
      margin: 0;
    }
  
    .navBar_menuIcon___uNML {
      background-color: #000;
    }
  }
  
/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/whereButton/whereButton.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.whereButton_button__Xvmsw{
    background-color:var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid var(--border-color);
    color: var(--font-primary-color);
}
.whereButton_button__Xvmsw:hover{
    background-color: var(--primary-color);
    cursor: pointer;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/invitationProtected/invitationProtected.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************/
.invitationProtected_container__RiQ3T{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.invitationProtected_firstPage__TbKeF{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.invitationProtected_date__NkEHA{
    position: absolute;
    margin-top: 108px;
    margin-left: -52px;
    background-color: rgb(255, 255, 255);
    height: 20px;
    width: 120px;
    font-family: TertiaryFont, sans-serif;
    text-align: center;
    font-size: 20px;
}
.invitationProtected_centralDiv__aAZgD{
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.invitationProtected_firstname__LkMEF{
    position: relative;
    margin-top: 30px;
    font-family: SecondaryFont, sans-serif;
    font-size: 70px;
}
.invitationProtected_quotationMark__20YcU{
    font-family: TertiaryFont, sans-serif;
    font-size: 50px;
    text-align: center;
}
.invitationProtected_caption__f8Ral{
    position: absolute;
    font-family: TertiaryFont, sans-serif;
    font-size: 32px;
    margin-top: 130px;
    margin-left: 60px;
}
.invitationProtected_sentence___aFZT{
    font-family: PrimaryFont, sans-serif;
    text-align: center;
    font-size: 18px;
}
.invitationProtected_counter__gj2eX{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 600px;
}
.invitationProtected_dressCode__0xkbQ{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    background-color: var(--primary-color);
}
.invitationProtected_where__CpSxc{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 0;
    padding-bottom: 10px;
    align-items: center;
    width: 100%;
    height: 700px;
}
.invitationProtected_sec__AGfC0{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    gap: 12px;
}
.invitationProtected_title__gcDxr{
    font-family: SecondaryFont;
    font-size: 50px;
    color: var(--tertiary-color);
}
.invitationProtected_subtitle__j4Ssk{
    font-size: TertiaryFont;
    font-size: 40px;
    color: var(--primary-color);
}
.invitationProtected_text__uAaf_{
    font-size: PrimaryFont;
    font-size: 20px;
    color: var(--tertiary-color);
}
.invitationProtected_confirm__gydNV{
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 500px;
}
.invitationProtected_guestTitle__CGYCy{
    font-family: SecondaryFont;
    font-size: 35px;
    color: var(--tertiary-color);
}
.invitationProtected_guest__P8hqv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.invitationProtected_guestName__AADj3{
    text-align: center;
    font-size: TertiaryFont;
    font-size: 32px;
    color: var(--primary-color);
}
.invitationProtected_guestAmount__njHTE{
    text-align: center;
    font-size: PrimaryFont;
    font-size: 20x;
    color: var(--tertiary-color);
}
