/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[3]!./styles/globals.modules.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
html,
body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
@media(prefers-color-scheme: dark){
    html{
        color-scheme: dark;
    }
    body{
        color: white;
        background: black;
    }
}
