/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[3]!./styles/globals.modules.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
html,
body{
    padding: 0;
    margin: 0;
    font-family: PrimaryFont, SecondaryFont, TertiaryFont, sans-serif;
}
@font-face {
    font-family: PrimaryFont;
    src: url(/_next/static/media/BreeSerif-Regular.c2c97787.ttf);
}
@font-face {
    font-family: SecondaryFont;
    src: url(/_next/static/media/Galantis.5e8caa0c.otf);
}
@font-face {
    font-family: TertiaryFont;
    src: url(/_next/static/media/senlot-serif-ext-regular.69dc0150.otf);
}
a{
    color: inherit;
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
:root{
    --background-color: #ffffff;
    --primary-color:#FF8D8D ;
    --secondary-color: #ddd;
    --tertiary-color:#333;
    --alternate-color: #c7b6d7;
    --font-primary-color: #000000;
    --border-color: #e7c6c6;

}

@media(prefers-color-scheme: light){
    html{
        color-scheme: light;
    }
    body{
        background: #ffffff;
        color: black;
    }
}
