/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/send/send.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.send_form__f0aqA{
    width: 350px;
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-color: var(--border-color);
    border-radius: 5%;
    padding: 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    height: 430px;
}
.send_stitle__c7TDW{
    font-size: 13px;
}
.send_sselect__3Xmlp{
    font-size: 17px;
    height: 10px;
}
.send_container__lB6zt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    width: 100%;
    height: 100vh;
    gap: 40px;
    background-color: var(--background-color);
    }
    
    .send_inputWrapper__AeWuv {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    }
    
    .send_label__ZehGO {
    font-size: 14px;
    color:var(--tertiary-color);
    }
    
    .send_input__bbHZN {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
    font-size: 14px;
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
    height: 30px;
    }
    .send_divButtons__66XBi{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-bottom: 10px;
    }
    .send_button__xvGHg{
        background-color:var(--secondary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 40px;
        border-radius: 20px;
        border: 2px solid var(--border-color);
        color: var(--font-primary-color);
    }
    .send_button__xvGHg:hover{
        background-color: var(--primary-color);
        cursor: pointer;
    }
    .send_divList__ggdxo{
        display: flex;
        flex-direction: column;
        gap: 15px;
    color: var(--tertiary-color);
    text-align: center;
    }
    .send_List__8uIVL{
        font-size: 15px;
        text-align: left;
    }
    .send_listTitle__Kk9cu{
        font-weight: bolder;
        font-size: 20px;
    }
    .send_ListContainer__0DaUl{
        width: 350px;
        display: flex;
        justify-content: left;
        gap: 10px;
    }
    .send_ListSubTitle__NO53K{
        font-size: 15px;
        text-align: left;
        font-weight: bold;
    }
    .send_spinner__2vodl {
        margin-top: 50px;
        border: 4px solid rgba(0, 0, 0, 0.1);
        border-left-color: #333;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        animation: send_spin__aZtaG 1s linear infinite;
      }
      
      @keyframes send_spin__aZtaG {
        to {
          transform: rotate(360deg);
        }
      }
      .send_submitButton__vClTj {
        background-color: #ffcccc;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        margin-top: 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      
      .send_submitButton__vClTj:hover {
        background-color: #ffc2c2;
      }


