/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/formLogin/formLogin.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.formLogin_container__KzENh {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #b09494;
  border-radius: 10px;
  height: 100dvh;
}

.formLogin_title__p7Nzq {
  font-size: 28px;
  color: #ffcccc;
  margin-bottom: 20px;
}

.formLogin_label___dAfM {
  font-size: 14px;
  color: #ffcccc;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  width: 100%;
}

.formLogin_input__n64_2 {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  color: black;
  border-radius: 5px;
  border: none;
  background-color: #e8e0e0;
  margin-top: 5px;
}

.formLogin_passwordContainer__NiJrq {
  display: flex;
  align-items: center;
}

.formLogin_showPasswordButton__b34TX {
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: #ffcccc;
  margin-left: 5px;
  cursor: pointer;
}

.formLogin_submitButton__j920Q {
  background-color: #ffcccc;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formLogin_submitButton__j920Q:hover {
  background-color: #ffc2c2;
}

