/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/loading/loading.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.loading_loading__w8Gp2 {
    background-color: #b09494;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: aliceblue;
  }

.loading_loadingIcon__1PQwY {
    opacity: 0;
    transform: scale(0.5);
    transition: all 0.3s ease-out;
    display: inline-block;
    margin-right: 20px;
  }
  
  .loading_loadingIconActive__gHjib {
    opacity: 1;
    transform: scale(1);
    animation: loading_pulse___LKcd 1s ease-out infinite;
  }
  
  @keyframes loading_pulse___LKcd {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/formLogin/formLogin.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.formLogin_container__KzENh {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #b09494;
  border-radius: 10px;
  height: 100dvh;
}

.formLogin_title__p7Nzq {
  font-size: 28px;
  color: #ffcccc;
  margin-bottom: 20px;
}

.formLogin_label___dAfM {
  font-size: 14px;
  color: #ffcccc;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  width: 100%;
}

.formLogin_input__n64_2 {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  color: black;
  border-radius: 5px;
  border: none;
  background-color: #e8e0e0;
  margin-top: 5px;
}

.formLogin_passwordContainer__NiJrq {
  display: flex;
  align-items: center;
}

.formLogin_showPasswordButton__b34TX {
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: #ffcccc;
  margin-left: 5px;
  cursor: pointer;
}

.formLogin_submitButton__j920Q {
  background-color: #ffcccc;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formLogin_submitButton__j920Q:hover {
  background-color: #ffc2c2;
}
.formLogin_spinner__SbIoy {
  margin-top: 50px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #333;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  animation: formLogin_spin__9C7xj 1s linear infinite;
}

@keyframes formLogin_spin__9C7xj {
  to {
    transform: rotate(360deg);
  }
}
